html(lang="es")

    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title= 'Formulario de ingreso de productos'
        link(rel='stylesheet' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous' href= 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css')

    body
        div(class="container mt-3")
            div(class="jumbotron")
                h1(style="color:blue;")="Ingrese datos\n"

                form(action="/productos" method="post")

                    div(class="form-group")
                        label(for="title")="Nombre"
                        input(id="title" class="form-control" type="text" name="title")

                    div(class="form-group")
                        label(for="price")="Precio"
                        input(id="price" class="form-control" type="number" name="price")

                    div(class="form-group")
                        label(for="thumbnail")="URL Imagen"
                        input(id="thumbnail" class="form-control" type="text" name="thumbnail")

                    button(class="btn btn-success mt-3 mb-5")="Enviar"


        form(action="/productos" method="get")
            button(class="btn btn-success mt-3 mb-5")="Ver listado de productos"
