html(lang="es")

    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title= 'Formulario de ingreso de productos'
        link(rel='stylesheet' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous' href= 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css')

    body
    div(class="container mt-3")
        div(class="jumbotron")
            h2(style="color:crimson;")="Listado de productos"
                if(productos.length > 0)
                    div(class="table-responsive")
                        table(class="table table-dark")
                            tr(style="color: yellow;")
                                th="Nombre" 
                                th="Precio" 
                                th="URL Imagen"
                            each producto in productos
                                tr
                                    td=producto.title
                                    td=producto.price
                                    td
                                        img(src=producto.thumbnail height="50")
                else
                    h3(class="alert alert-danger")="No se encontraron datos"


    form(action="/" method="get")
        button(class="btn btn-success mt-3 mb-5")="Volver al formulario"
